*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/
.DS_Store
/build
/captures
src/main/res/drawable-hdpi/ic_info_black_24dp.png
src/main/res/drawable-hdpi/ic_pause_circle_filled_black_24dp.png
src/main/res/drawable-hdpi/ic_play_circle_filled_black_24dp.png
src/main/res/drawable-hdpi/ic_search_black_24dp.png
src/main/res/drawable-mdpi/ic_info_black_24dp.png
src/main/res/drawable-mdpi/ic_pause_circle_filled_black_24dp.png
src/main/res/drawable-mdpi/ic_play_circle_filled_black_24dp.png
src/main/res/drawable-mdpi/ic_search_black_24dp.png
src/main/res/drawable-xhdpi/ic_info_black_24dp.png
src/main/res/drawable-xhdpi/ic_pause_circle_filled_black_24dp.png
src/main/res/drawable-xhdpi/ic_play_circle_filled_black_24dp.png
src/main/res/drawable-xhdpi/ic_search_black_24dp.png
src/main/res/drawable-xxhdpi/ic_info_black_24dp.png
src/main/res/drawable-xxhdpi/ic_pause_circle_filled_black_24dp.png
src/main/res/drawable-xxhdpi/ic_play_circle_filled_black_24dp.png
src/main/res/drawable-xxhdpi/ic_search_black_24dp.png
src/main/res/drawable-xxxhdpi/ic_info_black_24dp.png
src/main/res/drawable-xxxhdpi/ic_pause_circle_filled_black_24dp.png
src/main/res/drawable-xxxhdpi/ic_play_circle_filled_black_24dp.png
src/main/res/drawable-xxxhdpi/ic_search_black_24dp.png
